@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px $menubar-menu-box-shadow;
  background-color: $menubar-bg;

  :global(.container)> :global(.row) {
    height: 84px;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $menubar-menu-text;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $menubar-menu-border;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover {
        animation: animation-pulse-bg $animation-time-bg $animation-iteration-count;
      }

      &:hover,
      &.active {
        background-color: $menubar-menu-hover-bg;
        color: $menubar-menu-hover-text;
        border-color: $menubar-menu-hover-border;
      }

      &.active {
        border-color: $menubar-menu-hover-border-active;
      }
    }
  }
}