@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $button-bg;
  color: $button-text;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $button-text !important;
    background-color: $button-hover-bg;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-outline-border;
  color: $button-outline-border-text;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $button-hover-outline-border;
    color: $button-hover-outline-border-text;
  }
}

// Media

@media (min-width: 992px) {
  .small {
    font-size: 10px;
  }
}