$base-padding: 24px;

// DO NOT USE THIS!
$pure-black: #000000;
$pure-white: #ffffff;
$black-gray: #2a2a2a;
$dark-gray: #363636;
$gray: #434343;
$light-gray: #a9a9a9;
$mist-gray: #b6b6b6;
$semi-gray: #e2e2e2;
$smoke-gray: #d8d8d8;
$semi-white: #e1e1e1;
$solitude-white: #f4f5f7;
$darker-solitude-white: #e0e3ed;
$primary: #d58e32;          
$transparent: transparent;
$box-shadow: rgba(1, 2, 2, 0.2);
$darker-gray: #292929;

// Button

$button-bg: $black-gray;
$button-text: $pure-white;
$button-hover-bg: $primary;

$button-outline-border: $black-gray;
$button-outline-border-text: $black-gray;
$button-hover-outline-border: $black-gray;
$button-hover-outline-border-text: $pure-white;

// FeatureBox

$featurebox-border: $mist-gray;
$featurebox-bg: $pure-white;
$featurebox-text: $dark-gray;
$featurebox-content-text: $black-gray;
$featurebox-hover-border: $primary;
$featurebox-hover-bg: $primary;
$featurebox-content-color: $black-gray;
$featurebox-hover-icon: $pure-white;
$featurebox-hover-text: $primary;

// ProductBox

$productbox-bg: $pure-white;
$productbox-border: $semi-white;
$productbox-photo-bg: $solitude-white;
$productbox-sale-bg: $pure-black;
$productbox-sale-text: $pure-white;
$productbox-line: $black-gray;
$productbox-line-border-bottom: $primary;
$productbox-compare-active: $primary;
$productbox-compare-active-text: $pure-white;
$productbox-compare-active-border: $primary;
$productbox-compare-disabled-bg: $dark-gray;
$productbox-compare-disabled-text: $pure-white;

// RatingStars

$rating-stars-average: $black-gray;
$rating-stars-user-rating: $primary;

// NewFurniture

$newfurniture-border-bottom: $semi-gray;
$newfurniture-hover-border-bottom: $primary;
$newfurniture-menu-dots-bg: $pure-white;
$newfurniture-menu-dots: $semi-white;
$newfurniture-menu-hover-dots: $primary;
$newfurniture-menu-text: $black-gray;

// ProductSearch

$productsearch-border-color: $pure-black;
$productsearch-border-icon: $primary;
$productsearch-border-select-bg: $transparent;
$productsearch-border-placeholder: $black-gray;
$productsearch-border-button-bg: $transparent;
$productsearch-text-color: $black-gray;
$productsearch-border-select-menu-bg: $pure-white;

// CompanyClaim

$companyclaim-bg: $dark-gray;
$companyclaim-phone-number-color: $smoke-gray;
$companyclaim-phone-icon: $primary;
$companyclaim-cart-box: $pure-white;
$companyclaim-cart-icon-bg: $primary;
$companyclaim-cart-counter-text: $darker-solitude-white;

// Footer

$footer-claim-bg: $black-gray;
$footer-bg: $dark-gray;
$footer-menu-text: $pure-white;
$footer-menu-wrapper-text: $light-gray;
$footer-menu-wrapper-hover-text: $pure-white;
$footer-copyright-color: $light-gray;
$footer-socialmedia-color: $light-gray;
$footer-socialmedia-hover-color: $primary;

// MenuBar

$menubar-menu-box-shadow: $box-shadow;
$menubar-bg: $pure-white;
$menubar-menu-text: $black-gray;
$menubar-menu-border: $pure-white;
$menubar-menu-hover-bg: $primary;
$menubar-menu-hover-text: $pure-white;
$menubar-menu-hover-border: $primary;
$menubar-menu-hover-border-active: $black-gray;

// TopBar

$header-topbar-bg: $gray;
$header-link: $pure-white;
$header-link-hover: $primary;

// CompareBar

$comparebar-border: $pure-black;
$comparebar-bg: $pure-white;
$comparebar-text: $black-gray;
$comparebar-delete-bg: $pure-black;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$basic-transition: all 0.25s ease;
