@import "../../../styles/settings.scss";

.stars, .rating {
  a {
    text-decoration: none;
    color: $rating-stars-average;
  }
}

.star {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 23px;

  > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .starFull {
    opacity: 0;
  }
}

@for $i from 1 through 5 {
  .rating#{$i} {
    a:nth-child(-n+#{$i}) {
      .starFull {
        opacity: 1;
      }
    }
  }
}
