@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;
    min-width: 210px;
    box-sizing: border-box;

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
      font-size: 22px;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    .categoryList {
      -webkit-appearance: none;
      border: 0 solid black;
      background-color: $color-light;
      position: absolute;
      z-index: 1;
      font-size: 14px;
      outline: none;
      top: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: none;
      width: calc(100% + 2px);
      li {
        padding: 5px 30px 5px 35px;
      }
    }
    .selected {
      padding: 5px 30px 5px 35px;
    }
    &:hover {
      .categoryList {
        display: block;
        border: 1px solid black;
      }
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
