@import "../../../styles/settings.scss";

.root {
  border: 1px solid $productsearch-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $productsearch-border-color;
    display: flex;
    align-items: center;
    position: relative;
    min-width: 211px;

    .icon:first-child {
      color: $productsearch-border-icon;
      position: absolute;
      left: 10px;
      z-index: 0;
      font-size: 22px;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    .categoryList {
      border: 0;
      background-color: $productsearch-border-select-bg;
      z-index: 1;
      font-size: 14px;
      outline: none;
      list-style-type: none;
      margin: 0;
      padding: 5px 30px 5px 40px;
      width: 100%;
      position: relative;
      ul {
        display: none;
        list-style-type: none;
        top: 100%;
        left: 50%;
        padding: 5px 30px 5px 40px;
        width: calc(100% + 2px);
        overflow: hidden;
        margin: 0;
        position: absolute;
        border: 1px solid black;
        background-color: $productsearch-border-select-menu-bg;
        z-index: 99;
        transform: translateX(-50%);
        &:hover {
          display: block;
        }
      }
      &:hover {
        ul {
          display: block;
        }
      }
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $productsearch-border-placeholder;
      }
    }

    button {
      border: 0;
      background-color: $productsearch-border-button-bg;
      outline: none;
    }
  }
}
