@import "../../../styles/settings.scss";

.root {
  border: 1px solid $productsearch-border-color;
  display: inline-flex;
  min-height: 45px;
  color: $productsearch-text-color;
  display: flex;
  flex-direction: column;

  > * {
    height: 35px;
  }

  .category {
    display: flex;
    align-items: center;
    position: relative;
    min-width: 211px;
    box-sizing: border-box;
    cursor: pointer;
    order: 2;

    .icon:first-child {
      color: $productsearch-border-icon;
      position: absolute;
      left: 10px;
      z-index: 0;
      font-size: 22px;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
      transition: $basic-transition;
    }

    .selected {
      background-color: $productsearch-border-select-bg;
      padding: 5px 25px 5px 45px;
    }

    .dropdown {
      margin: 0;
      padding: 0;
      background-color: $productsearch-border-select-menu-bg;
      position: relative;
      z-index: 999;
      list-style-type: none;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      border: 0px solid $productsearch-border-color;
      width: calc(100% + 1.99px);
      overflow: hidden;
      max-height: 0;
      transition: $basic-transition;

      li {
        padding: 5px 25px 5px 45px;
        cursor: pointer;
        transition: $basic-transition;
        a {
          text-decoration: none;
          color: $productsearch-text-color;
      
        }
      }

      li:hover {
        background-color: $primary;
        a {
          color: $productsearch-hover-text;
        }
      }
    }

    &:hover {
      .dropdown {
        max-height: 172px;
        border: 1px solid $productsearch-border-color;
      }

      .icon:last-child {
        transform: rotate(180deg);
      }
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid $productsearch-border-color;
    width: 100%;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;
      width: 100%;

      &::placeholder {
        color: $productsearch-border-placeholder;
      }
    }

    button {
      border: 0;
      background-color: $productsearch-border-button-bg;
      outline: none;
    }
  }
  .invalidSearch {
    position: absolute;
    top: 110%;
    left: 5%;
    color: $danger;
  }

  .dropdownSearch {
    background-color: $productsearch-input-list-bg;
    border: 1px solid $productsearch-border-color;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 120;
  }
  .dropdownSearch a {
    display: block;
    padding: 5px;
    color: $productsearch-text-color;
    text-decoration: none;
    cursor: pointer;
  }
  .dropdownSearch a:hover {
    background-color: $productsearch-input-hover-bg;
    color: $productsearch-input-hover-text;
    transition: $basic-transition;
  }
  
}

@media (min-width: 768px) {
  .root {
    min-height: 35px;
    flex-direction: row;
    align-items: center;
    display: flex;

    .category {
      border-right: 1px solid $productsearch-border-color;
      order: 0;

      .selected {
        background-color: $productsearch-border-select-bg;
        padding: 5px 25px 5px 40px;
      }

      .dropdown {
        li {
          padding: 5px 25px 5px 40px;
        }
      }
    }

    .searchField {
      border-bottom: 0 solid $productsearch-border-color;

      button {
        border: 0;
        background-color: $productsearch-border-button-bg;
        outline: none;
      }
    }
  }
}


