@import "../../../styles/settings.scss";

.root {
  border: 1px solid $productsearch-border-color;
  display: inline-flex;
  min-height: 45px;
  color: $text-color;
  display: flex;
  flex-direction: column;

  &>* {
    height: 35px;
  }

  .category {
    display: flex;
    align-items: center;
    position: relative;
    order: 2;

    .icon:first-child {
      color: $productsearch-border-icon;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: $productsearch-border-select-bg;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid $productsearch-border-color;
    width: 100%;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;
      width: 100%;

      &::placeholder {
        color: $productsearch-border-placeholder;
      }
    }

    button {
      border: 0;
      background-color: $productsearch-border-button-bg;
      outline: none;
    }
  }
}

@media (min-width: 768px) {
  .root {
    min-height: 35px;
    flex-direction: row;
    align-items: center;
    display: flex;

    .category {
      border-right: 1px solid $productsearch-border-color;
      order: 0;
    }

    .searchField {
      border-bottom: 0px solid $productsearch-border-color;

      button {
        border: 0;
        background-color: $productsearch-border-button-bg;
        outline: none;
      }
    }
  }
}
