@import "../../../styles/settings.scss";

.root {
  border: 1px solid $productsearch-border-color;
  display: inline-flex;
  height: 45px;
  color: $productsearch-text-color;

  .category {
    border-right: 1px solid $productsearch-border-color;
    display: flex;
    align-items: center;
    position: relative;
    min-width: 211px;
    box-sizing: border-box;
    cursor: pointer;

    .icon:first-child {
      color: $productsearch-border-icon;
      position: absolute;
      left: 10px;
      z-index: 0;
      font-size: 22px;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
      transition: $basic-transition;
    }

    .selected {
      background-color: $productsearch-border-select-bg;
      padding: 5px 30px 5px 35px;
    }

    .dropdown {
      margin: 0;
      padding: 0;
      background-color: $productsearch-border-select-menu-bg;
      position: relative;
      z-index: 99;
      list-style-type: none;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      border: 0px solid black;
      width: calc(100% + 2px);
      overflow: hidden;
      max-height: 0;
      transition: $basic-transition;

      li {
        padding: 5px 30px 5px 35px;
        cursor: pointer;
        transition: $basic-transition;
      }

      li:hover {
        background-color: $primary;
        color: $pure-white;
      }
    }

    &:hover {
      .dropdown {
        max-height: 172px;
        border: 1px solid black;
      }

      .icon:last-child {
        transform: rotate(180deg);
      }
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $productsearch-border-placeholder;
      }
    }

    button {
      border: 0;
      background-color: $productsearch-border-button-bg;
      outline: none;
    }
  }
}