@import '../../../styles/settings.scss';

.compare {
    border: 1px solid $comparebar-border;
    position: fixed;
    bottom: 0;
    left: 1%;
    width: auto;
    height: 80px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    background-color: $color-light;
    z-index: 2;
}

.boxes {
    display: inline-flex;
    .box:nth-child(even) {
        margin-left: 3px;
        margin-right: 3px;
    }
}

.box {
    border: 1px solid $comparebar-border;
    height: 76px;
    width: 80px;
    text-align: center;
    z-index: 8;
    &:hover {
        background-color: black;
            opacity: 0.4;
            justify-content: center;
            align-items: center;
            width: 82px;
            height: 78px;
        .delete {
            text-align: center;
            display: flex;
            visibility: visible;
            position: relative;
            height: 100%;
            width: 100%;
            z-index: 3;
            left: 25px;
            top: 10px;
            cursor: pointer;
            color: $comparebar-bg;
            margin-bottom: 0;
        }
    }
}

.btn {
    margin-left: 3px;
    margin-right: 3px;
    position: absolute;
    top: 30%;
    padding: 3.5px;
    color: $comparebar-bg;
    background-color: $primary;
    
    &:hover {
        text-decoration: none;
        color: $comparebar-text;
    }
}

.invisible {
    visibility: hidden;
}

.delete {
    display: none;
}

.image {
    height: 76px;
    width: 80px;
    img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        z-index: 99;
    }
}
