@import "../../../styles/settings.scss";

.root {
  margin-top: 30px;
  margin-bottom: 30px;
}

.heading {
  position: relative;

  h3 {
    color: $primary;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 38px;
    margin: 0;
    letter-spacing: 1px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 45px;
    border-bottom: 4px solid $primary;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 45px;
    width: calc(100% - 45px);
    border-bottom: 4px solid $gallery-border;
  }
}

.rightPhoto {
  height: 603px;
  background-position: center;
}

.photoInfo {
  padding-top: 5rem;
  padding-left: 5rem;

  span {
    color: $form-border-color;
    font-size: 20px;
    text-transform: uppercase;
  }

  h1:first-of-type {
    color: $gallery-button;
}

h1:nth-of-type(2) {
  color: $primary;
}

button {
  background-color: $gallery-button;
  border: none;
  border-radius: 5%;
  height: 55px;
  width: 135px;
  color: $gallery-background;
  text-transform: uppercase;

  &:hover {
    background-color: $primary;
  }
}
}
@media (max-width: 576px) {
  .rightPhoto{
    display: none;
  }
}